<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Your Account Analytics</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='styles/mainpage.css') }}"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/nouislider@15.7.0/dist/nouislider.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/nouislider@15.7.0/dist/nouislider.min.js"></script>
  </head>
  <body>
    <div id="loader" class="center"></div>
    <div id="main-container">
      <div id="title area">
        <h1 id="main-title">Your Account Analytics</h1>
      </div>
      <div id="analytics-container">
        <div id="left-column" class="main-column flex-2">
          <div id="widgit-1-container" class="widgit-container">
            <div id="widgit-1-text-container" class="widgit-text-container">
              <h1 id="widgit-1-text" class="widgit-title">
                Your Listening Hours
              </h1>
              <hr />
            </div>
            <div id="widgit-1">{{hourly_fig|safe}}</div>
          </div>
          <div id="widgit-2-container" class="widgit-container">
            <div id="widgit-2-text-container" class="widgit-text-container">
              <h1 id="widgit-2-text" class="widgit-title">
                Your Weekly Trends
              </h1>
              <hr />
            </div>
            <div id="widgit-2">{{weekly_fig|safe}}</div>
          </div>
          <div id="widgit-5" class="widgit-container bottom-widgit">
            <div id="widgit-5-text-container" class="widgit-text-container">
              <h1 id="widgit-5-text" class="widgit-title">Artist Origins</h1>
              <hr />
            </div>
            <div id="world map">{{world_map|safe}}</div>
          </div>
        </div>
        <div id="center-column" class="main-column flex-2">
          <div id="widgit-4-container" class="widgit-container">
            <div id="widgit-4-text-container" class="widgit-text-container">
              <h1 id="widgit-4-text" class="widgit-title">Quick Stats</h1>
              <hr />
            </div>
            <div id="numeric-stats">
              <div id="left-button-stats" class="flex-1 left-button-container">
                <button class="button"><i class="arrow left"></i></button>
              </div>
              <div id="stat-description" class="flex-3">
                <h1 id="stat-description-text"></h1>
              </div>
              <div id="stat-value" class="flex-3">
                <h1 id="stat-value-text"></h1>
              </div>
              <div
                id="right-button-stats"
                class="flex-1 right-button-container"
              >
                <button class="button"><i class="arrow right"></i></button>
              </div>
            </div>
            <div id="top-5s">
              <div id="top-5s-text">
                <h2>See your top 5 most popular in a given category:</h2>
              </div>
              <div id="top-5s-dropdown">
                <select name="dropdown-ans" id="dropdown-menu">
                  <option value="0">Song listens (all time)</option>
                  <option value="1">Song listens (past 30 days)</option>
                  <option value="2">Artist Appearances</option>
                  <!-- <option value="audi">Audi</option> turn this into albums-->
                </select>
              </div>
              <div id="table-holder" class="flex-3"></div>
            </div>
          </div>
          <div id="widgit-3" class="widgit-container">
            <div id="widgit-3-text-container" class="widgit-text-container">
              <h1 id="widgit-3-text" class="widgit-title">
                Your Listening History
              </h1>
              <hr />
            </div>
            <iframe
              id="dash-app"
              src="{{ url_for('load_analytics') }}dash/"
              frameborder="0"
            ></iframe>
          </div>
        </div>

        <div id="right-column" class="main-column flex-3">
          <div id="widgit-6" class="widgit-container">
            <div id="user-select">
              <div id="song-select">
                <h1 id="widgit-6-text" class="widgit-title">
                  Song Recommender
                </h1>
                <hr />
                <div id="song-selection-container">
                  <div id="dropdown-section">
                    <h2>Pick a song to add:</h2>
                    <div id="song-dropdown">
                      <form>
                        <select name="song-select" id="song-selection-dropdown">
                          <option value="-1" disabled selected value>
                            Pick a song to add
                          </option>
                        </select>
                        <button
                          id="add-song-button"
                          type="button"
                          onclick="addSong()"
                        >
                          Add song
                        </button>
                      </form>
                    </div>
                  </div>

                  <div id="songs-selected">
                    <div id="title-with-button">
                      <h2 class="flex-5">Current songs selected:</h2>
                      <button class="flex-1" id="song-submit-button">
                        Song Submit
                      </button>
                    </div>
                    <h3 id="empty-song-msg">None! You can pick up to 5</h3>
                    <div id="song-area"></div>
                  </div>

                  <div id="slider-container">
                    <h2 id="slider-instruction-1"></h2>
                    <div id="weight-slider">
                      <div id="multiSlider"></div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- <div id="feature-tweaking">
                            <input type="number" name="points" step="0.1" max="1" min="0">
                        </div> -->
            </div>
            <div id="error-container"></div>
            <div id="player-box">
              <div id="top-text">
                <h2 id="song-choice">
                  Based on your choices, here are some songs you might like :
                </h2>
              </div>
              <div id="content-box" class="flex-container">
                <div class="left-button-container">
                  <button
                    id="left-player-button"
                    class="button"
                    disabled="true"
                  >
                    <i class="arrow left"></i>
                  </button>
                </div>
                <div id="embedding-container">
                  <iframe
                    id="player"
                    data-testid="embed-iframe"
                    style="border-radius: 12px"
                    src=""
                    width="100%"
                    height="352"
                    frameborder="0"
                    allowfullscreen=""
                    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
                    loading="lazy"
                  >
                  </iframe>
                </div>
                <div class="right-button-container">
                  <button class="button" id="right-player-button">
                    <i class="arrow right"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div id="widgit-7" class="widgit-container bottom-widgit">
            <div id="no-song-placeholder">
              <div id="placeholder-text">
                <h2 id="placeholder-h">How the song recommender works:</h2>
                <p id="placeholder-p">
                  Pick between 1 to 5 songs. You can then choose how much
                  influence you want each song to have in the final result. The
                  algorithm then finds the 20 songs most similar to the
                  combination of songs you put in.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="{{url_for('static', filename='homepageLogic.js')}}"></script>
  </body>
</html>
