/* Base Styles */
html {
  background-color: black;
  visibility: visible;
  opacity: 1;
}

body {
  visibility: hidden; 
  font-family : "Roboto", serif;
}

h1 {
  color: white;
}

h2,
h3 {
  color:white;
  margin : 4px;
}

th {
  color: white;
  width : 70%;
}

td {
  color:white;
}

table {
  border-color: white;
  width:100%
}

hr {
  color: #f3f3f3;
}
/*  */


/* Containers */
.widgit-container {
  background-color: #696865;
  margin:10px;
  padding-top:0px;
  padding-bottom:0px;
}

#analytics-container {
  display: flex;
  width: auto;
  min-height: 200px;
  padding: 20px;
  padding-top : 0px;
  padding-bottom : 0px;
}

#analytics-container > div {
  display: flex;
  flex-direction: column;
  min-height: 200px;
  padding: 5px;
  padding-bottom : 0px;
}

#table-container {
  width : 100%
}

#table-container table td:nth-child(2),
#table-container table th:nth-child(2) {
  text-align: center;
}

.main-column > div {
  padding-left : 20px;
  padding-right : 20px;
  padding-top : 5px;
}

.right-button-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}

.left-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-container {
  display: flex;
  width : 100%;
}

#embedding-container {
  padding: 10px;
}
/*  */


/* Widgits */
.bottom-widgit {
  margin-bottom: 0px;
  padding-bottom : 0px
}

.widgit-title {
  margin : 4px;
}

#widgit-1-text,
#widgit-2-text {
  margin : 4px;
}

#widgit-1,
#widgit-2 {
  max-height: 300px;
  padding-top : 10px;
  padding-bottom : 10px;
}

#widgit-5 {
  padding-top : 10px;
  padding-bottom : 10px;
}

#widgit-6 {
  padding-bottom : 20px
}

#widgit-7 {
  height : 70%;
  display: flex;
  justify-content: center;
  align-items:center;
  padding : 20px;
  position: relative;
}
/*  */


/* Stats */
#numeric-stats {
  display: flex;
  padding: 20px;
  outline: 5px solid limegreen;
  outline-offset: -15px;
  background-color: #A1A1A1;
}

#quick-stats {
  background-color: #696865;
  padding-top : 0px;
}

#stat-description {
  text-align: center;
  align-items: center;
  display : flex;
  justify-content: center;
}

#stat-value {
  display: flex;
  align-items: center;
  justify-content: center;
  width : 90%
}

#top-5s {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:#A1A1A1;
  margin-top: 20px;
  padding : 20px;
  margin-bottom : 20px;
}

#top-5s-dropdown {
  padding-bottom : 20px;
}
/*  */


/* Utilities */
.flex-1 {
  flex : 1;
}

.flex-2 {
  flex : 2;
}

.flex-3 {
  flex : 3;
}

.flex-5 {
  flex : 5
}

.flex-6 {
  flex : 6
}
/*  */


/* Arrow Buttons */
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.button {
  border-radius: 100%;
  padding: 10px;
}
/*  */


/* Recommender Explaination */
#no-song-placeholder {
  padding : 20px;
  background-color: #A1A1A1;
  position : absolute;
  inset: 20px;
  display: flex;        
  justify-content: center;   
  align-items: center;
} 

#placeholder-text {
  text-align: center;
  width : 80%
}

#placeholder-h {
  color : darkgreen;
}

#placeholder-p {
  color: white;
}

#empty-song-msg {
  margin-top : 5px;
  margin-bottom : 5px;
  margin-left : 25px
}
/*  */


/* Song selection + tags */
#song-selection-dropdown {
  height : 30px;
  width : 79%;
  padding-left : 5px;
}

#song-selection-container {
  background-color: #A1A1A1;
  padding: 20px;
}

#song-choice {
  margin-left : 0px;
  margin-right: 0px;
  margin-bottom : 10px;
}


#songs-selected {
  padding-top : 20px;
  padding-bottom : 20px;
  border-bottom-style : dashed;
  border-bottom-color: darkgreen;
  border-bottom-width : 3px;
}

.song-tag {
  display: flex;
  align-items: center;
}

.song-tag > h3 {
  padding-left : 20px;
  padding-right : 20px;
  margin : 5px;
}

.song-tag > button {
  height: 50%;
  color : red;
}
/*  */


/* Misc. Recommender Elements */
#slider-container {
  padding-top : 20px;
}

#top-text {
  text-align: center;
}

#title-with-button {
  display: flex;
  margin-right : 32px;
}

#dropdown-section {
  border-bottom-style : dashed;
  border-bottom-color: darkgreen;
  border-bottom-width : 3px;
  padding-bottom : 20px;
}

.recommender-button {
  width : 100px;
  height : 30px;
}

#content-box {
  border-color: black;
  background-color: limegreen;
  border-width: 2px 2px 2px 2px;
  border-style: solid;
  padding: 20px;
  margin: 0 auto;
  box-sizing: border-box;
}

#player-box {
  padding: 20px 20px 0px 20px;
  display: none;
  flex-direction: column;
  align-items: center;
  visibility: hidden;
}

#slider-instruction-1 {
  margin-bottom : 10px;
}
/*  */


/* Loading Screen*/
#loader {
  visibility: visible;
  border: 12px solid #f3f3f3;
  border-radius: 50%;
  border-top: 12px solid #444444;
  width: 70px;
  height: 70px;
  animation: spin 1s linear infinite;
}

.center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
/*  */


/* Extra Elements */
#main-title {
  color:limegreen;
  font: bold 80px Monaco, sans-serif;
  text-align:center;
  margin-top : 20px;
  margin-bottom : 0px;
}

#dash-app {
  width: 100%;
  height: 525px;
}
/*  */
